#years-range-slider {
  height: 1em;
  margin-top: 1.5em;
}

#years-range-slider .noUi-handle {
  cursor: grab;
  width: 26px;
  height: 26px;
  right: -12px;
}

#years-range-slider .noUi-handle::before {
  left: 10px;
}

#years-range-slider .noUi-handle::after {
  left: 13px;
}

#years-range-slider .noUi-pips-horizontal {
  height: 40px;
}
