#years-range-slider {
  height: 0.8em;
  margin-top: 1.5em;
  margin-left: 50px;
}

#years-range-slider .noUi-connect {
  background-color: #4a4a4a;
}

#years-range-slider .noUi-handle {
  cursor: grab;
  width: 26px;
  height: 26px;
  right: -12px;
  outline-color: #4a4a4a;
}

#years-range-slider .noUi-handle::before {
  left: 10px;
}

#years-range-slider .noUi-handle::after {
  left: 13px;
}

#years-range-slider .noUi-pips-horizontal {
  height: 40px;
  font-size: 12px;
  color: white;
}

#years-range-slider .noUi-marker-horizontal.noUi-marker-large {
  height: 5px;
}
