.number-of-companies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-of-companies-section > .title {
  align-self: flex-start;
}

.svg-chart.radar .axes,
.svg-chart.radar .area {
  transform: translate(30px, 30px);
}

.svg-chart.radar .axes line {
  stroke: grey;
}

.svg-chart.radar .area polygon,
.svg-chart.radar .area circle {
  fill: #d94701;
  fill-opacity: 0.7;
  stroke: none;
}

.svg-chart.radar .area circle {
  cursor: pointer;
}

.svg-legend.radar .tick > line {
  display: none;
}
