.number-of-companies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-chart.radar .axes line {
  stroke: grey;
}

.svg-chart.radar .area polygon {
  fill: red;
  fill-opacity: 0.5;
  stroke: none;
}
