.number-of-companies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-of-companies-section > .title {
  align-self: flex-start;
}

.svg-chart.radar .axes,
.svg-chart.radar .area {
  transform: translate(30px, 30px);
}

.svg-chart.radar .axes line {
  stroke: grey;
}

.svg-chart.radar .area polygon {
  fill: red;
  fill-opacity: 0.5;
  stroke: none;
}
