.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px);
}

.map-section > .title {
  align-self: flex-start;
  margin-bottom: 0;
}

.map-section > .svg-map {
  opacity: 0;
  flex: 8;
}

.map-section > .title,
.map-section > .svg-legend.map {
  flex: 1;
}

#Municipalities,
#NUTS_I,
#NUTS_II {
  display: none;
}

#Municipalities path,
#NUTS_III path,
#NUTS_II path,
#NUTS_I path {
  cursor: pointer;
  pointer-events: all;
}

#NUTS_III path.selected,
#NUTS_II path.selected {
  stroke: #000;
  stroke-width: 2;
}

#NUTS_III path.hovered,
#NUTS_II path.hovered {
  stroke: grey;
  stroke-width: 2;
}
