.elections-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elections-section > .title {
  align-self: flex-start;
}

.elections-section .svg-legend .tick:last-of-type > line {
  display: none;
}

.svg-chart.cleveland-dot-plot .clevelands .circles-and-line {
  cursor: pointer;
}

.svg-chart.cleveland-dot-plot .clevelands .circles-and-line path {
  fill: none;
  stroke: grey;
  stroke-width: 3;
}

.svg-chart.cleveland-dot-plot .clevelands .circles-and-line rect {
  fill: transparent;
}
