@import '/assets/css/bulma.min.css';
@import '/assets/css/nouislider.min.css';
@import '/src/components/range_slider/index.css';
@import '/src/idioms/index.css';

.grid-container {
  display: flex;
}

.grid-container .charts-pane,
.grid-container .selections-pane,
.grid-container .map-pane {
  padding: 20px;
  height: 100vh;
}

.grid-container .charts-pane {
  display: flex;
  flex: 4;
  /* background-color: lightblue; */
}

.grid-container .selections-pane {
  flex: 1;
  /* background-color: lightgreen; */
}

.grid-container .map-pane {
  flex: 2;
  /* background-color: lightsalmon; */
}

.grid-container .charts-pane .left-charts,
.grid-container .charts-pane .right-charts {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-container .charts-pane .left-charts {
  padding-right: 20px;
  padding-inline-end: 20px;
}

.grid-container .charts-pane .right-charts {
  padding-left: 20px;
  padding-inline-start: 20px;
}

.grid-container .charts-pane .left-charts > *,
.grid-container .charts-pane .right-charts > * {
  flex: 8;
}

.grid-container .charts-pane .right-charts > .years-range-section {
  flex: 1;
}
