body {
  font-family: sans-serif;
  height: 728px;
  width: 1536px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 10px;
  height: 100%;
}

.grid-container > * {
  border: 1px solid red;
}

.grid-container .charts-pane {
  grid-column: 2;
}

.grid-container .selections-pane {
  grid-column: 1;
}

.grid-container .map-pane {
  grid-column: 3;
}

.grid-container .map-pane h2 {
  text-align: center;
}
