@import './cleveland_dot_plots/index.css';
@import './radar_chart/index.css';
@import './choropleth_map/index.css';
@import './multi_lines_chart/index.css';

.svg-chart g text,
.svg-legend g text {
  fill: black;
  font-size: 12px;
  font-family: sans-serif;
}
